* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#menu {
    background-color: #BE89CB;
}

#menu ul {
    display: flex;
    padding: 30px;
    justify-content: right;
    align-items: flex-end;
    gap: 150px;
}

#menu ul li {
    list-style: none;
    
}

#menu ul li a {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

#perfil {
    background-color: #EDEAEA;
    text-align: center;
}

#perfil img {
    width: 150px;
    border-radius: 50%;
    margin-top: 48px;
}

#perfil h1 {
    margin-top: 21px;
    color: #FF4DBC;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
}

#perfil h2 {
    margin-bottom: 21px;
    color: #C5C0C0;
    font-weight: 700;
    line-height: 140%;
}

#perfil p {
    margin-left: 245px;
    margin-right: 267px;
    padding-bottom: 99px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

#formacao {
    background-color: #E5E5E5;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

#formacao h3 {
    color: #FF4DBC;
    padding-top: 61px;
    margin-left: 39.51px;
    font-weight: 700;
    font-size: 24px;
}

#formacao h4 {
    color: #828282;
    font-size: 16px;
    font-weight: 700;
    padding-top: 50px;
    margin-left: 237px;
    margin-right: 237px;

}

#formacao h5 {
    text-decoration: underline;
    color: #2F80ED;
    font-weight: 400;
    font-size: 14px;
    margin-left: 237px;
    margin-right: 237px;
    padding-top: 8px;
}

#formacao p {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    width: 405px;
    line-height: 140%;
    margin-left: 237px;
    margin-right: 237px;
    padding-top: 8px;
}

#portfolio {
    background-color: #EDEAEA;
    height: 520px;
    display: flex;
    flex-direction: column;
}

#portfolio h3 {
    color: #FF4DBC;
    font-weight: 700;
    font-size: 24px;
    padding-top: 61px;
    margin-left: 39.51px;
}

#portfolio h4 {
    color: #661E4B;
    font-weight: 700;
    font-size: 16px;
    margin-top: 28px;
    margin-left: 239.5px;
}

#portfolio h5 {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 239.5px;
}

#portfolio h6 {
    color: #2F80ED;
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 239.5px;
}

#portfolio p {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 74px;
    margin-left: 239.5px;
    margin-right: 234.5px;
}

#contato {
    background-color: #BE89CB;
    height: 215px;
    padding-top: 42px; 
    
   
}

#contato img {
    height: 24.5px;
    margin-left: 30px;
    float: left;
}

#contato p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    margin-left: 68px;
    margin-right: 400px;
    padding-bottom: 38.5px;
}